{% extends "inicial/base.html" %}
{% block content %}
{% if socio != None%}
<h2><a class="article-title">
        Seus Voos 
</a></h2>
    {% if socio.pode_tirar_breve%}
    <a class="article-title">
        Você pode tirar seu brevê de piloto! Entre em contato com um funcionário administrativo.
    </a>
    {% endif %}
{% elif autenticado == True %}
<h2><a class="article-link" href="/admin">
    Site para funcionários
</a></h2>
{% else %}
<h2><a class="article-title">
    Venha fazer parte do nosso aeroclube!
</a></h2>
{% endif %}
    {% for index, voo in voos %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Voo numero: {{index}}</a>
                <small class="text-muted">{{voo.hora_saida}} - {{voo.hora_chegada}}</small>
            </div>
            <h2><a class="article-title" href="#">
                {% if voo.acompanhamento.nota > -1 %} 
                    Instrutor: {{voo.acompanhamento.instrutor.user.get_full_name}}
                {% else %}
                    Voo solo
                {% endif %}
            </a></h2>
            <p class="article-content">Duração: {{voo.duracao}} </p>
                {% if voo.acompanhamento.nota > -1 %} 
                    <p class="article-content">Nota: {{voo.acompanhamento.nota}} </p>
                {% endif %}
            </div>
        </article>
    {% endfor %}
{% endblock content %}

{% for index, voo in voos %}
Voo nro.: {{index}}
<li>
    {{voo.hora_saida}}
     - 
    {{voo.hora_chegada}}
    {{voo.acompanhamento.nota}}
    <br>
</li>
{% endfor %}